@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ProjectPaula.Model
@using System.Globalization;
@model IEnumerable<Log>
@{
    ViewBag.Title = "Logs";

}

@{
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Message</th>
                        <th>Fatality-Level</th>
                        <th>Tag</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>
                                @i.Id
                            </td>
                            <td>
                                @i.Date.ToString("G", new CultureInfo("de-DE"))
                            </td>
                            <td>
                                @i.Message
                            </td>
                            <td>
                                @i.Level
                            </td>
                            <td>
                                @i.Tag
                            </td>

                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
}